@use './typography' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-secondary);
  font-size: var(--ff-500);
  font-weight: var(--fw-600);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-300);
  margin: 0;
}
