@use './colors' as *;
@use './typography' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8.5rem;
  background-color: var(--clr-accent-200);
}

@media screen and (min-width: 62em) {
  .header {
    height: 12.2rem;
  }

  .header > .container {
    min-width: 100%;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: -999rem;
}

@media screen and (min-width: 62em) {
  .logo {
    transform: scale(1.35);
    transform-origin: center left;
    text-align: center;
  }
}

.menu-button {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem 0;
}

@media screen and (min-width: 62em) {
  .menu-button {
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 2.4rem;
  height: 0.2rem;
  display: flex;
  background-color: var(--clr-neutral-100);
}

.header > .wrapper > .main__nav {
  display: block;
  width: calc(100% - 5rem);
  height: auto;
  position: absolute;
  top: 11rem;
  padding: 2.4rem 0;
  border-radius: 0.625rem;
  text-align: center;
  background-color: var(--clr-neutral-100);
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s ease-in-out;
  z-index: inherit;
}

@media screen and (min-width: 62em) {
  .header > .wrapper > .main__nav {
    width: 70%;
    position: relative;
    display: flex;
    top: 0;
    padding: 0;
    transform: scale(1);
    background-color: transparent;
  }
}

.header > .wrapper > .main__nav.-active {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.header > .wrapper > .main__nav > .nav__edge {
  position: absolute;
  top: -2.4rem;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2.4rem solid transparent;
  border-bottom: 2.4 sold transparent;
  border-right: 2.4rem solid var(--clr-neutral-100);
}

@media screen and (min-width: 62em) {
  .header > .wrapper > .main__nav > .nav__edge {
    display: none;
  }
}

.header > .wrapper > .main__nav > .nav__list {
  width: 100%;
}

@media screen and (min-width: 62em) {
  .header > .wrapper > .main__nav > .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.header > .wrapper > .main__nav > .nav__list > .nav__item {
  padding: 1.6rem 0;
}

@media screen and (min-width: 62em) {
  .header > .wrapper > .main__nav > .nav__list > .nav__item {
    padding: 0;
    cursor: pointer;
  }

  .header > .wrapper > .main__nav > .nav__list > .nav__item:not(:last-child) {
    margin-right: 4.8rem;
  }
}

.header > .wrapper > .main__nav > .nav__list > .nav__item > .nav__link {
  color: var(--clr-neutral-300);
  font-size: var(--fs-600);
  font: var(--fw-600);
  text-decoration: none;
}

@media screen and (min-width: 62em) {
  .header > .wrapper > .main__nav > .nav__list > .nav__item > .nav__link {
    color: var(--clr-neutral-100);
  }
}

.header
  > .wrapper
  > .main__nav
  > .nav__list
  > .nav__item
  > .nav__link.cta__button {
  width: 8.75rem;
  height: 3.5rem;
  font-family: var(--ff-main);
  font-weight: var(--fw-900);
  color: var(--clr-neutral-500);
  text-transform: uppercase;
  background-color: var(--clr-primary-200);
  border-radius: 2.8rem;
  border-color: transparent;
  cursor: pointer;
}

.banner > .wrapper {
  width: 100%;
  max-width: 76.8rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

@media screen and (min-width: 62em) {
  .banner > .wrapper {
    max-width: 100%;
    background-image: url(/images/desktop/image-header.jpg);
  }
}

.title__banner {
  width: 90%;
  font-family: var(--ff-main);
  font-weight: var(--fw-900);
  font-size: var(--fs-700);
  letter-spacing: 0.5rem;
  text-align: center;
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  margin: 10rem 0 6rem;
}

@media screen and (min-width: 62em) {
  .title__banner {
    font-size: 6rem;
    margin: 14rem 0 10rem;
  }
}

@keyframes updown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10%);
  }
}

.down--arrow {
  animation: updown 0.3s linear infinite alternate;
}
