@use './breakpoints' as *;

[aria-label='main navigation'] {
  width: 100%;
  display: none;
}

header {
  @include mdq(
    background-image,
    url('/images/mobile/image-header.jpg'),
    (
      $lg: url(/images/desktop/image-header.jpg),
    )
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.hero {
  place-content: center;
  place-items: center;
  min-height: 100vh;
}
